@mixin with-thematique-color {
  @each $thematique in $thematiques {
    $key: map-get($thematique, key);
    $color: map-get($thematique, color);
    $color-light: map-get($thematique, color-light);
    &[data-thematique-key="#{$key}"] {
      --thematique-color: #{$color};
      --thematique-color-light: #{$color-light};
      @content;
    }
  }
}