$x-blue: $nsp-primary;
$x-blue-dark: #06649f;
$x-dark: #14171A;
$x-gray: #657786;

.mockupTweetWrapper {
  display: flex;
  margin: 8rem auto 12rem;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  width: 85%;

  @include md {
    width: fit-content;
  }
}

.title {
  color: $font-color-dark;
  text-align: center;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.125;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.mockupTweet {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  background: $bg-light;
  color: $font-color-dark;
  box-shadow: 0 1rem 2rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
  
  @media screen and (max-width: 800px){
    flex-direction: column;
  }

  .QuoteChevron {
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    width: 8rem;
    height: 8rem;

    @include md {
      width: 12rem;
      height: 12rem;
    }

    svg {
      fill: $nsp-primary;
    }

    &.topLeft {
      left: 0;
      top: 0;
      transform: rotate(180deg) translate(50%, 50%);
    }

    &.bottomRight {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
    }
  }
}

.mockupTweetContent {
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;

  .link {
    color: $x-blue;

    &:hover {
      color: $x-blue-dark;
    }
  }

  .profileName {
    color: $x-dark;
    font-weight: 700;
    margin-right: 0.5rem;
  }

  .profileHandle {
    color: $x-gray;
  }

  .header {
    margin-bottom: 0.5rem;
  }
}

.SocialsButtonsRow {
  margin-top: 1rem;
  display: flex;
  align-self: stretch;
  justify-content: center;

  @include md {
    justify-content: flex-end;
  }
}

.shareButton {
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  border-radius: 1.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  padding: .75rem 1.75rem;
  color: $bg-light;
  background-color: $x-blue;
  box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $x-blue-dark;
  }
}