ul.flex-grid,
ul.flex-inline-grid {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

ul.flex-grid {
  margin: -1rem;
}

ul.flex-grid li.flex-grid__item {
  flex: 1;
  padding: 1rem;

  @include md {
    flex: 0 0 50%;
  }

  @include lg {
    flex: 0 0 33.3333%;
  }

  @include xl {
    flex: 0 0 25%;
  }
}

ul.flex-inline-grid {
  gap: 1rem;
}

ul.flex-inline-grid li.flex-grid__item {
  flex: 1;
}
