ul.thematiques-cards-grid {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: -1rem;

  @include md {
    margin: -1.5rem;
  }

  li.thematiques-cards-grid__item {
    flex-basis: 100%;
    padding: 1rem;

    @include md {
      flex: 0 0 50%;
    }

    @include lg {
      flex: 0 0 33.3333%;
      padding: 1.5rem;
    }

    @include xl {
      flex: 0 0 25%;
    }
  }
}

ul.thematiques-buttons-grid {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: -.5rem;

  li.thematiques-buttons-grid__item {
    flex-basis: 100%;
    padding: .5rem;

    @include sm {
      flex: 0 0 50%;
    }

    @include md {
      flex: 0 0 25%;
    }

    @include md {
      flex: 0 0 25%;
    }

    @include lg {
      flex: 0 0 12.5%;
    }

    @include xl {
      flex: 1;
    }
  }
}