footer.site-footer {
  background: $bg-dark;
  padding: 1rem 2rem;
  color: $font-color-light;
  font-size: 1.125rem;
  font-weight: 500;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include md {
    justify-content: flex-end;
  }
  nav {
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      @include md {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}