.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: $header-height-xs;


  @include xs {
    flex-direction: row;
  }

  @include xs {
    height: $header-height;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.site-branding {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: .75rem;

  @include xs {
    padding-top: 0;
    gap: 2rem;
  }
}

.site-logo {
  min-width: 3.5rem;
  min-height: 3.5rem;

  @include md {
    min-width: 4rem;
    min-height: 4rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.site-title {
  font-size: 1rem;

  @include md {
    font-size: 1.25rem;
  }

  font-weight: 400;
}

nav.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 .5rem;
  gap: 1.5rem;

  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
  }
}