.question-blocks {
  display: flex;
  gap: 5rem;
  flex-direction: column;

  .question-block {

    .toggler__icon {
      @include md {
        display: none;
      }
    }

    button.question-block__toggler {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      text-align: left;

      position: relative;

      .toggler__icon {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(-100%);
      }

      &[data-open] {
        .toggler__icon {
          transform: translateY(-100%) rotate(180deg);
        }
      }
    }

    .question-block__title {
      font-size: 1.5rem;
      display: flex;
      align-items: flex-start;
      line-height: 1.25;
      margin-bottom: 2rem;

      @include md {
        font-size: 1.75rem;
        margin-bottom: 4rem;
      }

      h2 {
        margin: 0;
        font-size: inherit;
        line-height: inherit;
      }

      span {
        line-height: inherit;
      }

      .question-link__number {
        margin-right: .5rem;

        @include md {
          margin-right: 1rem;
        }
      }
    }

    .question-block__responses {
      background-color: $bg-light;
      display: flex;
      flex-wrap: wrap;
      margin: -1rem -2rem;

      @include md {
        margin: -1.5rem 0;
        padding: 1rem;
      }

      @include lg {
        padding: 1.5rem;
      }
    }
  }
}

.response__abstract {
  @include with-abstract-color {
    color: var(--abstract-color);
  }
}

.response-short-block {
  flex-basis: 100%;
  padding: 2rem;

  @include md {
    padding: 1rem;
    flex: 0 0 50%;
  }

  @include lg {
    flex: 0 0 25%;
  }

  .response__author {
    font-size: 1rem;
    font-weight: 400;
  }

  .response__author-name {
    font-weight: 700;
  }

  .response__abstract {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1rem;
  }

  .response__content {
    p {
      font-weight: 400;

      @include md {
        font-size: .95rem;
      }
      @include lg {
        font-size: .85rem;
      }
    }
  }

  .response__details-link {
    margin-top: 1.5rem;
    font-size: 1rem;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;

    a {
      color: $font-color-dark;
    }
  }
}