.site-banner {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  // min-height: 90rem;
  // @include sm {
  //   min-height: 65rem;
  // }
  // @include md() {
  //   height: 40vh;
  //   min-height: 45rem;
  // }
  // @include lg() {
  //   height: 35vh;
  //   min-height: 40rem;
  // }
  background: url('/nsp-bg-gradient.png') no-repeat center center;
  // background: url('/nsp-background-landscape.png') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-banner__baseline {
  font-size: 1.5rem;
  font-weight: 400;
}

.site-banner__cta {
  padding-top: 1.5rem;
}