.site-banner {
  width: 100%;

  padding-top: 4rem;
  padding-bottom: 4rem;

  @include md() {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include lg() {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  background: url('/nsp-bg-gradient.png') no-repeat center center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-banner__baseline {
  font-size: 1.25rem;
  font-weight: 400;
}

.site-banner__cta {
  padding-top: 1.5rem;
}