.thematique-underlined {
  @include with-thematique-color {
    width: fit-content;
    background-image: linear-gradient(to right, var(--thematique-color), var(--thematique-color));
    background-size: 100% 25%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    line-height: 1.5;
  }
}

ul.thematiques-cards-grid {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: -1rem;

  @include md {
    margin: -1.5rem;
  }

  li.thematiques-cards-grid__item {
    flex-basis: 100%;
    padding: 1rem;

    @include md {
      flex: 0 0 50%;
    }

    @include lg {
      flex: 0 0 33.3333%;
      padding: 1.5rem;
    }

    @include xl {
      flex: 0 0 25%;
    }
  }
}

.thematique-card {
  padding: 2rem 0;
}

ul.thematiques-buttons-grid {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: -.5rem;

  li.thematiques-buttons-grid__item {
    flex-basis: 100%;
    padding: .5rem;

    @include sm {
      flex: 0 0 50%;
    }

    @include md {
      flex: 0 0 25%;
    }

    @include md {
      flex: 0 0 25%;
    }

    @include lg {
      flex: 0 0 12.5%;
    }

    @include xl {
      flex: 1;
    }
  }
}

.thematique-button {
  border-radius: 0.25rem;
  background-color: $bg-light;

  a {
    color: $font-color-dark;
    width: 100%;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  p.thematique-underlined {
    font-weight: 800;
    margin: 0 auto;
    line-height: 1;
  }
}

.question-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;

  display: flex;
  gap: .5rem;

  &+.question-link {
    margin-top: 1rem;
  }
}

.question-link__number {
  font-weight: 900;

  @include with-thematique-color {
    color: var(--thematique-color);
  }
}