/**
  * Base colors
  */

$nsp-white: #ffffff;
$nsp-black: #000000;
$nsp-primary: #06708EFF;
$nsp-grey: #636363FF;

/**
  * Functionnal tokens
  */

$font-color-dark: $nsp-black;
$font-color-light: $nsp-white;

$bg-light: $nsp-white;
$bg-dark: #2B2B2B;

/**
  * Thematiques colors
  */

$ecole: #E5B269;
$ecole-light: #FFFAF2;

$energie: #C4DE78;
$energie-light: #F7FCE7;

$impots: #8CC5C9;
$impots-light: #EBFEFF;

$logement: #DFA68E;
$logement-light: #FCEEE9;

$sante: #90C2E7;
$sante-light: #FFF7F4;

$justice: #DBA6DB;
$justice-light: #FEF7FE;

$securite: #A1A5FF;
$securite-light: #EEEEFC;

$personnes-agees: #A1A5FF;
$personnes-agees-light: #F4F4FF;

$transport: #73D1B0;
$transport-light: #EFFFFA;

$thematiques: (
  (key: education,
    color: $ecole,
    color-light: $ecole-light,
  ),
  (key: energie,
    color: $energie,
    color-light: $energie-light,
  ),
  (key: fiscalite,
    color: $impots,
    color-light: $impots-light,
  ),
  (key: justice,
    color: $justice,
    color-light: $justice-light,
  ),
  (key: logement,
    color: $logement,
    color-light: $logement-light,
  ),
  (key: sante,
    color: $sante,
    color-light: $sante-light,
  ),
  (key: securite,
    color: $securite,
    color-light: $securite-light,
  ),
  (key: transports,
    color: $transport,
    color-light: $transport-light,
  ),
);

/**
  * Authors colors 
  */

$abstracts: (
  (
    key: rouge,
    color: #D02E2A,
  ),
  (
    key: vert,
    color: #1b6727,
  ),
  (
    key: jaune,
    color: #b37524,
  ),
  (
    key: brun,
    color: #613424
  ),
  (
    key: noir,
    color: #000000
  )
);