$charte: #00b794;
$white: #ffffff;
$noir: #000000;

$rouge: #c20000;
$orange: #b44b00;
$bleu: #5b5ee8;

$vert-allegee: #e9fefa;
$bleu-allege: #d7d8ff;
$rouge-allege: #f5c6c6;
$orange-allegee: #fbd6bc;

/* Variables  */
$nsp: #06708EFF;
$gris-nsp: #636363FF;
$fond-vert-: #F5FDFFFF;
$vert: #00412AFF;
$vert-gradient: #ABEFD7FF;

$ecole: #E5B269;
$ecole-light: #FFF2E0;

$energie: #C4DE78;
$energie-light: #F7FCE7;

$impots: #8CC5C9;
$impots-light: #ecf9f9;

$logement: #DFA68E;
$logement-light: #FCEEE9;

$sante: #90C2E7;
$sante-light: #F1F8FD;

$justice-et-securite: #DBA6DB;
$justice-et-securite-light: #F2F2FD;

$personnes-agees: #A1A5FF;
$personnes-agees-light: #EEEEFC;

$transport: #73D1B0;
$transport-light: #F2FDF9;

$color-dark: #2B2B2B;

$thematiques: (
  (key: education,
    color: $ecole,
    color-light: $ecole-light,
  ),
  (key: energie,
    color: $energie,
    color-light: $energie-light,
  ),
  (key: fiscalite,
    color: $impots,
    color-light: $impots-light,
  ),
  (key: justice,
    color: $justice-et-securite,
    color-light: $justice-et-securite-light,
  ),
  (key: logement,
    color: $logement,
    color-light: $logement-light,
  ),
  (key: sante,
    color: $sante,
    color-light: $sante-light,
  ),
  (key: securite,
    color: $justice-et-securite,
    color-light: $justice-et-securite-light,
  ),
  (key: transports,
    color: $transport,
    color-light: $transport-light,
  ),
);