@import 'breakpoints';
@import 'colors';

$h2-family: "Helvetica Neue";
$h2-size: 14px;
$h2-size-rem: 0.875rem;
$h2-weight: 700;
$h2-style: normal;

$body-family: "Inter";
$body-size: 12px;
$body-size-rem: 0.75rem;
$body-weight: 400;
$body-style: normal;
$small-family: "Inter";
$small-size: 8px;
$small-size-rem: 0.5rem;
$small-weight: 400;
$small-style: normal;
$body-bold-family: "Inter";
$body-bold-size: 12px;
$body-bold-size-rem: 0.75rem;
$body-bold-weight: 700;
$body-bold-style: normal;
$body-ditp-family: "Inter";
$body-ditp-size: 12px;
$body-ditp-size-rem: 0.75rem;
$body-ditp-weight: 400;
$body-ditp-style: normal;
$body-ditp-line-height: 17px;
$body-ditp-line-height-rem: 1.0625rem;
$titre-ditp-family: "Inter";
$titre-ditp-size: 20px;
$titre-ditp-size-rem: 1.25rem;
$titre-ditp-weight: 700;
$titre-ditp-style: normal;
$cp-h2-family: "Public Sans";
$cp-h2-size: 32px;
$cp-h2-size-rem: 2rem;
$cp-h2-weight: 700;
$cp-h2-style: normal;
